.navigation {
  width: 100%;
  height: 50px;
  background-color: lightblue;
}

h1 {
  text-align: center;
  font-size: 400%;
}

body {
  background:
  url(http://sciencenordic.com/sites/default/files/imagecache/620x/413474560.jpg);
  background-size: contain;
}